numpy
scipy
scikit-learn
matplotlib
pandas
fastapi
uvicorn
gunicorn==20.0.4
httptools
pydantic
asyncpg
transformers
tensorflow
torch
langdetect
geopy==2.2.0
spacy
lxml
geotext
textblob==0.15.3
beautifulsoup4==4.9.1
tqdm
